@font-face {
    font-family: "ITCAvantGardePro";
    src: url("ITCAvantGardePro-Bold.woff2") format("woff2"), url("ITCAvantGardePro-Bold.woff") format("woff"), url("ITCAvantGardePro-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
}